
<p>
  <strong>Description:</strong>
  <%= @image.description %>
</p>
<p>
  <strong>Image:</strong>
  <%= image_tag @image.file %>
</p>

<p>
  <%= link_to "Edit", edit_image_path(@image) %> |
  <%= link_to "Destroy", @image, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", images_path %>
</p>
